.question-section{
    background: #fff;
    height: max-content;
    padding-bottom: 20px;

}
.question-header p{
    margin: 0;
}
.question-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-bottom: 1px solid #bfbfbf;
}

.question-header > select{
    width: 110px;
    height: auto;
    padding: 3px;
    font-size: 1rem;
    outline-color: var(--primary-color);
}

.question-header > div > input{
    text-align: center;
    font-size: 1rem;
    outline-color: var(--primary-color);
    width: 50px;
    height: 20px;
    margin-left: 7px;
}

.question-options{
    display: flex;
    flex-direction: column;
    justify-content:left;
}

 .question-options > input {
    margin: 20px 20px 10px 20px;
    border:  1px solid #bfbfbf;
    padding: 7px;
    font-size: 1.2rem;
    outline: 0px solid transparent;
  }

  .question-options > input:focus, .question-options > .options > ul > li > input:focus{
    border-color: var(--primary-color);
  }

  .question-options > .options > ul > li + *{
    margin-top: 10px;
  }

  .question-options > .options > ul > li > input{
    outline: none;
    width: 80%;
      height: 30px;
      padding:0 7px;
      border: 1px solid #bfbfbf;
      font-size: 1.08rem;
  }

  
  .question-options > .options > ul > li > input + *{
      position: relative;
      top: 7px;
      left: 5px;
      color: #bfbfbf;
      font-size: 25px;
      transition: 0.3s ease-in-out;
    }
    .question-options > .options > ul > li > input + *:hover, .remove-question:hover{
      color: #000;
    }

  .question-options > button{
    width: max-content;
    padding: 8px;
    margin: auto auto 10px 40px;
    font-size: .9rem;
    height: auto;
    font-size: 15px;
    color: #ffffff;
    border: none;
    background-color: #03C988;
  }

  .question-options > button:active{
    background-color: var(--dark-primary-color);
  }

  .text-answer{
    color: #bfbfbf;
    margin: 0 20px;
    padding: 10px 5px;
    border-bottom: 1px solid #bfbfbf;
  }

  .question-options > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .question-options > div >.correct-ans{
    padding: 10px;
  }

  .question-options > div >.correct-ans * + * {
    font-size: 1rem;
    margin-top: 5px;
  }

  .question-options > div >.correct-ans select{
      outline: none;
      border: 1px solid var(--primary-color);
  }
  
  .each-question{
    position: relative;
  }

  .remove-question{
    color: #bfbfbf;
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
  }

  @media screen and (max-width : 475px) {
.question-options input, .question-header, .options, .options > ul > li > input{
  font-size: 0.9rem;
}
.question-options > div{
  grid-template-columns: 1fr;
}
.question-options > button{
  margin: 10px;
}
}